@charset "utf-8"

@import "normalize"

$visual-grid: false
$visual-grid-color: #802BB1
$visual-grid-index: front
$visual-grid-opacity: 0.1

@import "lib/main.sass"
//@import "base/grid-settings"
//@import "base/base"

body
  /* background: #d4d4d4 url("../images/background.png")

#wrap
  @include outer-container

.welcome
  @include span-columns(12)
