---
title: Dolla Payments
body_class: index
---

#home
  .section__header
    .nav--largeScreen
      .nav
        .nav__logo
          %h1.logo
            Dolla
        .nav__nav
          %ul.list--horizontal.nav__desktop
            %li
              %a.nav__link--desktop{:href => "/"}
                Home
            %li
              %a.nav__link--desktop{:href => "/"}
                About
            %li.nav__menu
              %a.nav__link--desktop{:href => "/"}
                Products
              %span.nav__menuStack
                %ul.list
                  %li
                    For Freelancers
                  %li
                    For Small Businesses
                  %li
                    For Consultants
            %li
              %a.nav__link--desktop{:href => "/"}
                Help
            %li.nav__menu
              %button.btn--white
                Register
              %span.nav__menuStack
                %ul.list
                  %li
                    Customers
                  %li
                    Merchants

    .nav--mobile
      .nav
        .nav__logo
          %h1.logo
            Dolla
        .nav__hamburger
          %span
        .nav__nav--mobile
          %ul.list
            %li
              %a.nav__link--mobile{:href => "/"}
                Home
            %li
              %a.nav__link--mobile{:href => "/"}
                About
            %li
              %a.nav__link--mobile{:href => "/"}
                Products
            %li
              %a.nav__link--mobile{:href => "/"}
                Help
          %button.btn__submit
            Sign Up for Beta

    -# .brand__bg
    .DollaBox
      .mid__6
        .media--floatLeft
          .media__head
            %h1.thin
              Online payments for the unbanked.
          .media__content
            %h3.thin
              Payments go directly to your
              %span#js-rotating
                Mobile Wallet, Ecocash, Telecash, M-Pesa
          .media__btn
            %button.btn--dark
              Sign Up For Beta ->

  .section__body
    .inner
      .inner__circle
      .inner__circle
      .inner__circle

    .DollaBox.content__mission
      .media
        .media__content--centerText
          .media__head
            %h2.thin World Class Payments For All
          .media__content
            %h4.thin We are on a mission to provide world class payments APIs and tools that unlock online commerce for everyone. Whether you have a mobile wallet or bank account, you can now accept payments from all the major cards from anyone, anywhere.

      .content__steps
        .media__content--centerText
          .media__head
            %h4 3 Easy Steps
          .media__content
            %ul.media__cards
              %li
                .media__img--iconSmall
                  %img{:src => ""}
                .media__head
                  %h5 Create Free Account
              %li
                .media__img--iconSmall
                  %img{:src => ""}
                .media__head
                  %h5 Link Mobile Wallet and/or Bank Account
              %li
                .media__img--iconSmall
                  icon
                .media__head
                  %h5 Get Paid. Make It Rain.
  .section__simplicity
    .inner__thumb
      %svg{:height => "1030px", :version => "1.1", :viewBox => "0 0 956 1030", :width => "956px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
        / Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch
        %title fp copy
        %desc Created with Sketch.
        %defs
        %g#Page-1{:fill => "none", "fill-rule" => "evenodd", :stroke => "none", "stroke-width" => "1"}
          %g#Artboard-54{:fill => "#3A3D42", :transform => "translate(-424.000000, -52.000000)"}
            %g#fp-copy{:transform => "translate(424.000000, 52.000000)"}
              %g#Group
                %g#curve-6{:transform => "translate(196.801065, 0.247693)"}
                  %path#Shape{:d => "M436.637854,28.6159923 C413.950083,20.3956077 390.884182,13.8517489 368.05891,9.20074186 C153.040719,-34.6917854 3.65664383,96.0880438 2.16704271,97.4184482 C0.207644327,99.1815044 -0.319445297,101.950476 0.895152533,104.243531 C1.74307932,105.855159 3.32434819,106.969237 5.11186953,107.347807 C5.85667009,107.499236 6.64730452,107.520868 7.43793896,107.391073 L435.434714,39.8000419 C438.184747,39.3565738 440.281647,37.2473962 440.545192,34.6406689 C440.843112,32.0231254 439.227468,29.55701 436.637854,28.6159923 L436.637854,28.6159923 Z"}
                %g#curve-5{:transform => "translate(19.728143, 130.043240)"}
                  %path#Shape{:d => "M0.48783109,238.90641 C0.48783109,238.90641 -0.302803347,87.74868 484.768611,9.95788254 C484.768611,9.95788254 583.002076,22.5264179 640.672556,0.0609721322 C640.672556,0.0609721322 865.361696,2.22423124 904.011116,81.637473 C904.011116,81.637473 912.158088,101.182519 797.435885,59.8750864 C797.435885,59.8750864 741.67897,64.3854816 791.786859,84.5470565 C791.786859,84.5470565 958.347181,138.412208 933.069796,202.790799 C933.069796,202.790799 970.699412,210.113431 713.846346,112.344936 C713.846346,112.344936 501.55527,19.3356108 319.491639,97.4076319 C319.491639,97.4076319 180.752483,142.587298 107.819321,185.311666 C107.830779,185.322482 22.0985057,253.259634 0.48783109,238.90641 L0.48783109,238.90641 Z"}
                %g#curve-4{:transform => "translate(0.245385, 260.821330)"}
                  %path#Shape{:d => "M12.4767496,371.494299 C12.4767496,371.494299 -112.775787,210.839862 437.345362,5.25453259 C437.345362,5.25453259 634.385214,-28.0272088 823.38122,84.0620618 C823.38122,84.0620618 1000.17396,203.592944 910.442676,236.928767 C910.442676,236.928767 737.156233,28.7150776 459.070622,57.3782607 C459.070622,57.3674445 82.5338358,185.140344 12.4767496,371.494299 L12.4767496,371.494299 Z"}
                %g#curve-3{:transform => "translate(349.793528, 540.746145)"}
                  %path#Shape{:d => "M0.67824317,410.189284 C0.67824317,410.189284 218.165797,350.946591 296.404951,189.22079 C296.404951,189.22079 347.742391,84.9338992 292.647252,51.4782535 C292.647252,51.4782535 204.51211,16.8335215 278.833434,0.528932718 C278.833434,0.528932718 408.943792,-2.52439881 357.040563,181.239805 C357.051238,181.239805 215.230094,483.590165 0.67824317,410.189284 L0.67824317,410.189284 Z"}
                %g#curve-2{:transform => "translate(47.443251, 385.758909)"}
                  %path#Shape{:d => "M441.243692,402.111383 C441.243692,402.111383 520.040714,372.184859 466.237359,424.738172 C466.237359,424.738172 201.782117,677.461642 8.9467473,445.313403 C8.9467473,445.313403 -95.4883703,145.749974 422.252042,6.06503141 C422.252042,6.06503141 644.351989,-48.8261055 867.210086,173.851564 C867.210086,173.851564 949.0018,291.040921 837.566434,423.855525 C837.566434,423.855525 748.370125,530.512749 798.723899,391.817804 C798.723899,391.817804 863.255072,282.297939 794.99633,185.123212 C794.99633,185.123212 732.600611,123.230533 763.697384,200.164004 C763.697384,200.164004 859.818127,327.623084 655.357795,531.264192 C655.357795,531.264192 591.357327,608.054531 441.711217,643.22923 C441.711217,643.22923 357.417609,656.659786 515.54236,564.065284 C515.54236,564.065284 789.96727,409.757019 707.569036,171.6688 C707.569036,171.6688 622.656273,5.37322655 343.821458,77.6906891 C343.821458,77.6906891 41.6103624,191.265962 64.7971066,404.139087 C64.7844708,404.139087 121.645696,571.281525 441.243692,402.111383 L441.243692,402.111383 Z"}
                %g#curve-1{:transform => "translate(173.194865, 513.115349)"}
                  %path#Shape{:d => "M398.712067,88.4171033 C329.663326,49.3594601 162.90821,171.399723 162.90821,171.399723 C67.860201,209.613695 104.607515,159.490981 104.607515,159.490981 C122.654605,117.469673 220.406813,85.7887435 220.406813,85.7887435 C376.643053,56.0980122 357.896996,18.4897527 357.896996,18.4897527 C319.041324,-23.2070666 224.70374,21.1072962 224.70374,21.1072962 C-95.6980012,170.264012 21.4533971,283.575524 21.4533971,283.575524 C115.367018,358.597349 339.551986,233.063423 339.551986,233.063423 C486.621449,129.756985 398.712067,88.4171033 398.712067,88.4171033 L398.712067,88.4171033 Z M292.526424,202.821061 C292.526424,202.821061 163.572802,278.794721 65.2132944,248.790317 C65.2132944,248.790317 34.0806311,228.531396 69.5560546,229.818535 C69.5560546,229.818535 213.967153,226.779156 259.812492,176.905217 C259.812492,176.905217 312.590205,114.516824 347.836459,121.709661 C347.847918,121.720477 415.99144,141.600828 292.526424,202.821061 L292.526424,202.821061 Z"}

    .DollaBox
      .media
        .media__content--centerText
          .media__head
            %h2.thin Getting Paid Has Never Been So Simple
          .media__content
            %p
              .text--bold
                No website needed, just invoice your clients and get paid.

            %h4.thin Dolla is built to get you going fast. With an elegantly designed dashboard, billing and getting paid are only a simple 2 part process.

      .media--horizontal.content__stepOne
        .media__contentHorizontal
          .media__img--center
            .img__mac
        .media__contentHorizontal
          .media__content--centerText
            %h4 1. Create Invoice & Send To Client
            %p Enter your Dolla Dashboard, and create a custom invoice. Once complete, the invoice is sent to your clients email. With the invoice details.

      .media--horizontal.content__stepOne
        .media__contentHorizontal
          .media__img--center
            .img__phone
        .media__contentHorizontal
          .media__content--centerText
            %h4 2. Client receives invoice and makes payment
            %p Your customer opens their email, and are led to your page, where they can make payment. (Optimized design allows your clients to make payments across multiple devices at their convenience.)
  .section__security
    .DollaBox
      .media__content--centerText
        %h2.thin Built securely from the ground up

      .media

        .media__img--iconMedium
          .img__lock
        .cf
        .media__content--centerText
          %p
            .text--bold
              PCI Level One
            compliance is the highest level of security in the payments field. From the first line of code to the last, we have built every fabric of this platform with world class standard of security.
          .media__btn
            %button.btn--white
              Find Out More
  .section__pricing
    .DollaBox
      .media__content--centerText
        %h2.thin Transparent Pricing. Always know what you pay
