---
title: Dolla Payments
body_class: index
---
.head-stack
.navigation

#pagepiling
  #section1.section{"data-parallaxify-background-range" => "100"}
    .logo
    .print
      .thumb-one
    %h1
      We Move Serious
      %span.rotate
        %span.rotating.flip Dollars, Rands, Pounds, Euros, Kwacha
    .bottom-text
      %p
        We have simplified online payments for mobile money based merchants and their customers


  #section2.section
    .logo-dark
    .print
      .thumb-two
    .top-stack
      %p
        Dolla gives your customers the ability to pay from anywhere in just a few taps
    .mid-stack
      .item
        .mobile-pay
        .pay-text
          %p Seamless mobile checkout flow. Drive sales on your app, mobile site or other 3rd party apps with ease.
      .item
        .web-pay
        .pay-text
          %p  Fast and secure payments for your website.

      .item
        .email-pay
        .pay-text
          %p  Sending an invoice? Recieve payments via email.


    .bottom-stack
      %p
        We created an end-to-end experience that makes recieving payments faster, cheaper and easier than ever before.
  #section3.section
    .logo
    .print
      .thumb-three
    %h1.script
      Merchants.... Move more
      %span.rotate
        %span.rotating.flip
          Dollars, Rands, Pounds, Euros, Kwacha
    .info-section.row
      .skip-bank.col-md-6
        .img-hand
        .pay-text
      .api.col-md-6
        .img-api
        .pay-text
      .dashboard.col-md-6
        .img-dash
        .pay-text
      .accept-payments.col-md-6
        .img-pay
        .pay-text

  #section4.section
    .logo-dark
    %h1 Calculate
  #section5.section
    .logo
    %h1 Mobile Money Operators
