---
title: Styleguide
body_class: index
---

#styleguide
  %a{:href => "home"}
    %button.btn__fullScreen
      Welcome. Go To Full Website
  .section
    .DollaBox__six--mid
      %h4 Welcome to the Styleguide
    .DollaBox__eight--mid
      %ul.list--horizontal
        %li #3A3D42
        %li #D8D8D8
        %li #57EEBf
        %li #EEEEF1


    .DollaBox
      .mid
        %h1
          H1. A header text
        %h1.thin
          H1. A thin header text
        %h2.thin
          H2. Another header text
        %h2.bold
          H2. Another bold header text
        %h3
          H3. A smaller head text.
        %h4
          H4. Content Header
        %h5.bold
          H5. Small Content Header
      .DollaBox-eight
        %p
          .text--bold
            Paragraph text.
          Our brand has one
          %a.text-link{:href => "/"}
            core value
          “anyone who believes, can make a mark on the universe in their own unique way”. The essence of the Dolla brand is to inspire people to go for their entrepreneurial dreams and empower them with the tools to make them happen. This encompasses all areas from our sexy products, visual/verbal/written communications, programs, staff, etc. Everything Dolla is about inspiring the individual to achieve what they believe.  In a nutshell, our Brand promises “achievement”.

    .DollaBox
      .mid__8
        %h3 UI Elements
        .dla-style-buttons
          %h4 Buttons
          %button
            Default Button ->
          %button.btn--dark
            button.btn--dark
          %button.btn--white
            button.btn--white
          %button.btn--neo
            button.btn--neo
          %button.btn--disabled
            button.btn--disabled

        .DollaBox__four
          %h4 Inputs
          .input
            %label.bold Input
            %input{:type =>"", :placeholder => ".input"}
          .input
            %label.bold Input + Icon left
            .input__iconLeft
              %input{:type =>"", :placeholder => ".input__iconLeft"}
              %span
                %svg.lnr.lnr-location
                  %use{"xlink:href" => "#lnr-location"}
          .input
            %label.bold Input + Icon Right
            .input__iconRight
              %input{:type =>"", :placeholder => ".input__iconRight"}
              %span
                %svg.lnr.lnr-location
                  %use{"xlink:href" => "#lnr-location"}

            .notify
              %p
                I am a simple notification with the class:
                .text--bold
                  | .notify:
                add me under the .input class

        .DollaBox__six
          %h4 Dropdown

          .dropdown
            %label.bold Simple Dropdown
            .dropdown__container
              %p.bold.dropdown__button Click to Select
              %ul.dropdown__menu.dropdown__select
                %li Dropdown Menu Item
                %li Another Item
                %li Item Three
                %li The Last One
    .DollaBox
      .mid__8
        %h3 UI Molecules
        %h4 Media Object --floatLeft
        .DollaBox__block
          .media--floatLeft
            .media__head
              %h1.thin
                H1 Object Heading
            .media__content
              %p
                .text--bold
                  This is the media body text. Compact, sweet and contained. This encompasses all areas from our sexy products, visual/verbal/written communications, programs, staff, etc. Everything Dolla is about inspiring the individual to achieve what they believe. In a nutshell, our Brand promises “achievement”.
            .media__btn
              %button
                Media Button
        %h4 Media Object --horizontal

      .media--horizontal
        .media__contentHorizontal
          .media__img--center
            %svg.lnr
              %use{"xlink:href" => "#lnr-thumbs-up"}
        .media__contentHorizontal
          .media__content--centerText
            %h4 Horizontal Object Header
            %p This is the horizontal object content area.
            %p
              Wrap the text in the
              .text--bold
                media__content--centerText
              to center align the content.
            .mediaInner
              %h5 The .mediaInner class to create a nested media object
              .mediaInner__img
                %p image
              .mediaInner__content
                %p This is some content that will fill the rest of the space.

      %h4 Media Object

      .DollaBox__block
        .media
          .media--floatLeft
            .media__img--icon
              media__img--icon
            .media__img--iconSmall
              media__img--iconSmall
            .media__img--iconMedium
              media__img--iconMedium
            .media__img--iconLarge
              media__img--iconLarge

              -# %svg.lnr
              -#   %use{"xlink:href" => "#lnr-thumbs-up"}
            .media__head
              %h4 Content Header
            .media__content
              %p Content
      .DollaBox
        %h4 List Item .list--horizontal
        %ul.list--horizontal
          %li List Item 1
          %li List Item 2
          %li List Item 3
          %li List Item 4
          %li List Item 5

        %h4 List Item .list
        %ul.list
          %li List Item 1
          %li List Item 2
          %li List Item 3
          %li List Item 4
          %li List Item 5
    %button.btn__fullScreen
      I am a big button .btn__fullScreen

    .input__fullScreen
      %label.bold Input Full Screen
      .input__iconLeft
        %input{:type =>"", :placeholder => "Type Something"}
        %span
          %svg.lnr.lnr-magnifier
            %use{"xlink:href" => "#lnr-magnifier"}
    .DollaBox
      %input.btn__submit{:type => "submit"}

    .DollaBox
      %h4 Chatboxes
      .ChatBox
        .ChatBox__profile
          .ChatBox__picture
        .Chatbox__bubble
          .typing__indicator
            %span
            %span
            %span

        .ChatBox__bubble
          %p Hi Victory! Welcome back. I am a chat window.
        .ChatBox__bubble
          %p Thanks
        .ChatBox__bubble
          %p Hi Victory! Welcome back. I am a chat window. with tons of words tons and tons of words.


    .DollaBox
      %h4 Modals
      %ul.list--horizontal
        %li
          .modal
            .modal__confirm
              %label{:for => "modal__1"}
                .modal__trigger Click for Confirmation Modal
              %input#modal__1.modal__state{:type => "checkbox"}/
              .modal__fadeScreen
                .modal__inner
                  .modal__close{:for => "modal-1"}
                  %h4 Modal Title
                  %p.modal-intro I am a modal window with simple prompt/comfirmation messsage that the user must respond to. I use 2 buttons at the bottom with the class .btn--cross and .btn--tick.
                  .media__content--centerText
                    %button.btn--cross.modal__closeButton
                      %svg.lnr.lnr-cross-circle
                        %use{"xlink:href" => "#lnr-cross-circle"}
                    %button.btn--tick.modal__closeButton
                      %svg.lnr.lnr-checkmark-circle
                        %use{"xlink:href" => "#lnr-checkmark-circle"}
        %li
          .modal
            .modal__alert
              %label{:for => "modal__2"}
                .modal__trigger Click for Alert Modal
              %input#modal__2.modal__state{:type => "checkbox"}/
              .modal__fadeScreen
                .modal__inner
                  .modal__inner--positive
                    .modal__close{:for => "modal-2"}
                    .modal__icon
                      .alert__icon--negative
                        %svg{:height => "59px", :version => "1.1", :viewBox => "0 0 82 59", :width => "82px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                          / Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch
                          %title noun_323195_cc
                          %desc Created with Sketch.
                          %defs
                          %g#error{:fill => "none", "fill-rule" => "evenodd", :stroke => "none", "stroke-width" => "1"}
                            %g#Desktop-HD-Copy-14{:transform => "translate(-740.000000, -460.000000)"}
                              %g#noun_323195_cc{:transform => "translate(740.000000, 460.000000)"}
                                %g#Group
                                  %g#error
                                    %path#eye-2{:d => "M13.8,16.6 C15.8,15.4 17.7,14 19.7,12.7 C20.6,14.2 21.5,15.7 22.5,17.1 C23.3,18.3 28.4,14.5 27.4,13.2 C26.4,11.9 25.4,10.6 24.4,9.3 C27.3,7.1 30.2,4.9 33.1,2.8 C35.3,1.2 34.3,-0.2 32.1,1.5 C29.2,3.7 26.3,5.8 23.4,8 C23.1,7.7 22.9,7.3 22.6,7 C21.1,5.2 19.7,3 17.6,1.9 C17,1.5 15.1,3.2 15.2,3.8 C15.6,6.2 17.2,8.3 18.4,10.4 C18.6,10.7 18.8,11.1 19,11.4 C17.2,12.8 15.4,14.3 13.7,15.8 C12.8,16.4 12.6,17.4 13.8,16.6 L13.8,16.6 Z", :fill => "#3A3D42"}
                                    %path#eye-1{:d => "M46.8,17.7 C46.8,18.1 47.6,17.6 47.7,17.6 C50.5,15.9 52.6,13.1 54.8,10.7 L54.8,10.7 C56.2,12 57.6,13.4 59.1,14.7 C60.4,15.8 64.5,11.8 63.6,11.1 C61.8,9.7 60,8.3 58.2,7 C59.5,5.6 60.8,4.1 62.1,2.7 C62.7,2 63.3,0.9 62,0.8 C60.8,0.7 59,2.4 58.3,3.2 C57.6,4 56.9,4.8 56.2,5.6 C56.1,5.6 56.1,5.5 56,5.5 C53.7,3.9 51.2,1.4 48.4,1.2 C48,1.2 47.2,1.7 47.2,2.1 C47.4,4.6 50.5,6.7 52.2,8.4 C52.5,8.7 52.7,8.9 53,9.2 C52.4,10 51.7,10.7 51.1,11.5 C50,13.1 46.9,15.5 46.8,17.7 L46.8,17.7 Z", :fill => "#3A3D42"}
                                    %path#mouth{:d => "M40.3,40.8 C33.7,41.3 27.1,41.7 20.5,42.3 C14.4,42.8 7.8,42.5 2.1,45.1 C1.8,45.2 0.8,45.9 1,46.4 C2.2,48.1 4,47.5 6,47.5 C9.2,47.4 12.4,47.3 15.6,47.2 C20.2,47 27.8253333,46.1593092 31.0363471,46.1593092 C34.2473609,46.1593092 38.6088225,46.6000002 38.6088225,46.6000002 C43.1027559,45.3475926 47.3089919,45.6673406 48.0251014,45.5514778 C48.8195289,45.4229434 67,44.4 75.4,44.3 C78.1,44.3 83.9,37.4 80.9,37.7 C67.4,39.1 53.8,39.8 40.3,40.8 Z", :fill => "#3A3D42"}
                                    %path#tongue{:d => "M49.1831789,46.0041931 C48.8321307,49.5146758 48.6566065,54.0783033 46.7258411,57.0622136 C44.4440273,60.5726962 39.5293515,58.6419308 36.7209654,56.5356412 C33.0349586,53.727255 31.1041931,49.865724 29.7,45.6531448 C31.1041931,45.6531448 32.332862,45.4776207 33.7370551,45.4776207 C39.0027791,45.3020965 44.4440273,44.9510483 49.7097513,44.6 C49.3587031,45.1265724 49.1831789,45.6531448 49.1831789,46.0041931 L49.1831789,46.0041931 Z", :fill => "#F07D7D"}
                      .alert__icon--positive
                        %svg{:height => "68px", :version => "1.1", :viewBox => "0 0 100 68", :width => "100px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                          / Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch
                          %title fist-bump
                          %desc Created with Sketch.
                          %defs
                          %g#Page-1{:fill => "none", "fill-rule" => "evenodd", :stroke => "none", "stroke-width" => "1"}
                            %g#Desktop-HD-Copy-14{:transform => "translate(-850.000000, -436.000000)"}
                              %g#noun_16567_cc{:transform => "translate(849.000000, 436.000000)"}
                                %g#Group
                                  %g#fist-bump
                                    %path#right-hand{:d => "M98.998,57.681 C98.671,57.681 98.338,57.601 98.031,57.431 C87.696,51.709 74.867,46.156 72.17,47.182 C59.073,52.129 51.957,46.75 50.733,45.694 C46.113,42.708 47.651,37.857 48.395,35.512 C48.55,35.023 48.697,34.56 48.765,34.232 C48.835,33.894 48.917,33.562 49.003,33.224 C49.337,31.896 49.627,30.748 49.079,28.374 C48.645,26.49 48.885,25.005 49.794,23.961 C51.113,22.444 53.179,22.627 54.065,22.705 C54.112,22.709 54.156,22.714 54.196,22.717 C54.252,20.796 55.938,19.424 57.523,18.78 C63.348,15.858 69.248,21.922 73.989,26.801 C75.75,28.613 77.414,30.324 78.65,31.126 C82.494,33.618 94.889,36.165 99.341,36.936 C100.43,37.124 101.159,38.16 100.971,39.248 C100.783,40.337 99.745,41.061 98.659,40.878 C96.937,40.58 81.694,37.868 76.474,34.484 C74.859,33.438 73.125,31.654 71.12,29.59 C67.276,25.635 62.496,20.71 59.266,22.382 C59.203,22.415 59.137,22.445 59.07,22.47 C58.928,22.528 58.769,22.61 58.623,22.699 C59.522,23.156 61.163,23.713 62.74,24.074 C62.918,24.113 63.029,24.138 63.058,24.144 C64.131,24.386 64.808,25.449 64.572,26.523 C64.338,27.597 63.281,28.277 62.202,28.051 C62.024,28.013 61.849,27.975 61.678,27.935 C59.824,27.534 55.985,26.772 54.173,26.72 C54.053,26.717 53.896,26.705 53.714,26.689 C53.537,26.673 53.133,26.636 52.867,26.659 C52.865,26.815 52.885,27.076 52.976,27.474 C53.741,30.788 53.264,32.68 52.881,34.2 C52.81,34.48 52.74,34.756 52.683,35.037 C52.573,35.569 52.396,36.128 52.208,36.72 C51.239,39.776 51.134,41.239 52.994,42.391 C53.116,42.466 53.229,42.554 53.332,42.653 C53.549,42.854 59.115,47.839 70.756,43.439 C76.425,41.303 94.549,50.929 99.969,53.93 C100.936,54.465 101.285,55.683 100.75,56.649 C100.385,57.309 99.702,57.681 98.998,57.681 L98.998,57.681 Z", :fill => "#3A3D42"}
                                    %path#left-hand{:d => "M40.427,51.018 C37.805,51.018 34.813,50.623 32.291,49.625 C29.349,48.46 27.337,46.657 26.313,44.267 C26.265,44.157 26.153,43.895 25.572,43.668 C21.685,42.153 10.168,46.114 3.819,48.965 C2.813,49.421 1.629,48.969 1.175,47.96 C0.722,46.952 1.172,45.769 2.18,45.316 C4.017,44.491 20.323,37.331 27.025,39.941 C28.427,40.488 29.452,41.439 29.989,42.691 C30.578,44.066 31.847,45.147 33.762,45.905 C37.928,47.554 43.32,47.011 44.429,46.528 C45.387,46.109 47.328,43.419 47.529,42.232 C47.613,41.738 47.358,40.635 47.133,39.663 C46.592,37.326 45.92,34.418 47.533,32 C48.81,30.084 48.118,27.591 47.609,27.229 C47.164,27.047 45.817,27.132 44.158,27.399 L39.87,28.352 C38.809,28.587 37.762,27.939 37.497,26.89 C37.232,25.841 37.849,24.771 38.89,24.476 C39.968,24.17 41.746,23.711 43.6,23.425 L43.846,23.37 C43.735,23.154 43.45,22.739 42.731,22.14 C40.542,20.317 39.516,20.031 32.508,26.083 C25.439,32.189 5.276,32.365 3,32.365 C1.896,32.365 1,31.47 1,30.365 C1,29.261 1.895,28.365 3,28.365 C8.773,28.364 24.857,27.407 29.895,23.056 C36.04,17.749 40.071,14.718 45.293,19.068 C46.928,20.431 47.804,21.833 47.906,23.246 C48.539,23.329 49.101,23.485 49.552,23.734 C50.723,24.379 51.595,25.666 52.008,27.356 C52.584,29.713 52.155,32.279 50.861,34.22 C50.207,35.2 50.645,37.093 51.031,38.762 C51.37,40.23 51.691,41.616 51.473,42.9 C51.082,45.217 48.373,49.171 46.033,50.194 C44.896,50.689 42.815,51.018 40.427,51.018 L40.427,51.018 Z", :fill => "#3A3D42"}
                                    %g#spark-6{:transform => "translate(53.000000, 1.000000)"}
                                      %path#Shape{:d => "M2.604,12.591 L10.838,2.219", :fill => "#000000"}
                                      %path#Shape{:d => "M2.603,14.591 C2.166,14.591 1.728,14.449 1.361,14.157 C0.496,13.47 0.351,12.212 1.038,11.347 L9.272,0.975 C9.959,0.109 11.218,-0.034 12.082,0.652 C12.947,1.339 13.092,2.597 12.405,3.462 L4.17,13.834 C3.775,14.332 3.191,14.591 2.603,14.591 L2.603,14.591 Z", :fill => "#57EEBF"}
                                    %g#spark-5{:transform => "translate(47.000000, 0.000000)"}
                                      %path#Shape{:d => "M2.806,12.37 L2.806,2", :fill => "#000000"}
                                      %path#Shape{:d => "M2.806,14.37 C1.702,14.37 0.806,13.474 0.806,12.37 L0.806,2 C0.806,0.896 1.702,0 2.806,0 C3.91,0 4.806,0.896 4.806,2 L4.806,12.37 C4.806,13.475 3.91,14.37 2.806,14.37 L2.806,14.37 Z", :fill => "#57EEBF"}
                                    %g#spark-4{:transform => "translate(35.000000, 2.000000)"}
                                      %path#Shape{:d => "M9.623,11.591 L2.606,2.44", :fill => "#000000"}
                                      %path#Shape{:d => "M9.624,13.591 C9.023,13.591 8.429,13.321 8.035,12.808 L1.019,3.657 C0.347,2.781 0.513,1.525 1.39,0.853 C2.266,0.183 3.522,0.347 4.194,1.224 L11.21,10.375 C11.882,11.251 11.716,12.507 10.839,13.179 C10.477,13.456 10.048,13.591 9.624,13.591 L9.624,13.591 Z", :fill => "#57EEBF"}
                                    %g#spark-3{:transform => "translate(36.000000, 51.000000)"}
                                      %path#Shape{:d => "M9,2.409 L2,11", :fill => "#000000"}
                                      %path#Shape{:d => "M1.999,13 C1.555,13 1.108,12.853 0.737,12.551 C-0.119,11.853 -0.248,10.593 0.45,9.737 L7.45,1.146 C8.148,0.292 9.408,0.165 10.263,0.859 C11.119,1.557 11.248,2.817 10.55,3.673 L3.55,12.264 C3.155,12.748 2.579,13 1.999,13 L1.999,13 Z", :fill => "#57EEBF"}
                                    %g#spark-2{:transform => "translate(48.000000, 52.000000)"}
                                      %path#Shape{:d => "M2,2.63 L2,14", :fill => "#000000"}
                                      %path#Shape{:d => "M2,16 C0.896,16 0,15.104 0,14 L0,2.63 C0,1.526 0.896,0.63 2,0.63 C3.104,0.63 4,1.526 4,2.63 L4,14 C4,15.104 3.104,16 2,16 L2,16 Z", :fill => "#57EEBF"}
                                    %g#spark-1{:transform => "translate(53.000000, 51.000000)"}
                                      %path#Shape{:d => "M2,2.409 L9,10", :fill => "#000000"}
                                      %path#Shape{:d => "M9.001,12 C8.461,12 7.924,11.783 7.529,11.355 L0.529,3.764 C-0.219,2.952 -0.168,1.687 0.644,0.938 C1.455,0.188 2.721,0.242 3.47,1.053 L10.47,8.644 C11.218,9.456 11.167,10.721 10.355,11.47 C9.972,11.825 9.485,12 9.001,12 L9.001,12 Z", :fill => "#57EEBF"}

                    %h4.negativeHeadline Aw, Shucks
                    %h4.positiveHeadline Right On!
                    %p.modal-intro I am an Alert modal window with simple text and a button at the bottom. I come in 2 states: .modal__inner--negative for error alerts and .modal__inner--positive for success alerts. Just change the .modal__inner class.
                    .media__content--centerText
                      %button.btn--white.modal__closeButton
                        Sweet, Got It!
        %li
          .modal
            .modal__form
              %label{:for => "modal__3"}
                .modal__trigger Click for data Modal
              %input#modal__3.modal__state{:type => "checkbox"}/
              .modal__fadeScreen
                .modal__inner
                  .modal__close{:for => "modal-3"}
                  %h4 Form Modal
                  %p.modal-intro I am a data capturing modal, meant to collect information.
                  %form
                    .input
                      -# %label.bold Your Name
                      .input__iconLeft
                        %input{:type =>"", :placeholder => "Enter Email"}
                        %span
                          %svg.lnr.lnr-envelope
                            %use{"xlink:href" => "#lnr-envelope"}
                    .input
                      -# %label.bold Your Name
                      .input__iconLeft
                        %input{:type =>"password", :placeholder => "Password"}
                        %span
                          %svg.lnr.lnr-lock
                            %use{"xlink:href" => "#lnr-lock"}

                  .dropdown
                    %label.bold Simple Dropdown
                    .dropdown__container
                      .dropdown__button
                        %p.bold Click to Select
                      %ul.dropdown__menu.dropdown__select
                        %li Dropdown Menu Item
                        %li Another Item
                        %li Item Three
                        %li The Last One

                    .form__submit
                      %input.btn__submit.modal__closeButton{:type => "submit"}
