---
title: Dolla Payments
body_class: index
---
.head-stack
.navigation

#pagepiling
  #section1.section{"data-parallaxify-background-range" => "100"}
    .logo
    .print
      .thumb-one
    %h1
      We Move Serious
      %span.rotate
        %span.rotating.flip Dollars, Rands, Pounds, Euros, Kwacha
    .bottom-text
      %p
        We have simplified online payments for mobile money based merchants and their customers


  #section2.section
    .logo-dark
    .print
      .thumb-two
    .top-stack
      %p
        Dolla gives your customers the ability to pay you from anywhere in just a few taps
    .mid-stack
      .item
        .mobile-pay
        .pay-text
          %p Seamless mobile checkout flow. Drive sales on your app, mobile site or other 3rd party apps with ease.
      .item
        .web-pay
        .pay-text
          %p  Fast and secure payments for your website.

      .item
        .email-pay
        .pay-text
          %p  Sending an invoice? Recieve payments via email.


    .bottom-stack
      %p
        We created an end-to-end experience that makes recieving payments faster, cheaper and easier than ever before.

  #section3.section
    .logo
    .print
      .thumb-three
    %h2
      Sell Anything
      %span.rotate
        %span.rotating.flip
          Online, on Mobile, Everywhere
    .title-stack
      %p Dolla is built to make selling your service easy and intuitive
    .info-section
      .info
        //.img-hand
        .img-title
          %p
            Goods &amp; Services
        .pay-text
          %p
            From simple t-shirts to insurance to large scale building materials, easily move product with Dolla.
      .info
        //.img-api
        .img-title
          %p Digital
        .pay-text
          %p
            From ebooks, apps, to software services, we are built for this.
      .info
        //.img-dash
        .img-title
          %p Other
        .pay-text
          %p
            Donations, event tickets, invoices, even piano lessons - we mean anything!


  #section4.section
    .logo-dark
    .print
      .thumb-four
    .top-stack
      %p
        Save money on every cent you recieve with Dolla, use the calculator below to see:
    .money-maker
      .amount
        %p International Payment Amount
      .mobile-money
        %p Mobile Money Provider
      .amount-recieve
        %p Amount to recieve
      .competitor
        .block
        .block
        .block
  #section5.section.pp-scrollable
    .logo
    .skinny-text
      %p Developers &amp; Designers
    .title-stack
      %p
        Dolla
        %span Checkout
        is a multi-device embedable payment form. Customers pay instantly, without being redirected away to complete the transaction.
    .dolla-checkout
      .checkout
        .one
      .checkout
        .two
      .checkout
        .three
    .dolla-info
      .info
        .one
          %p Integrate Anywhere
        .one-text
          %p Turn any site into a store. Any site, any design, anywhere. Quickly power any website or mobile application.
      .info
        .one
          %p Dollapay.js
        .one-text
          %p No Website? No problem, with dollapay.js you can easily recieve payments via a a gorgeous custom payments page with an easy checkout flow.
      .info
        .one
          %p Craft Gorgeous Experiences
        .one-text
          %p Dollapay.js is fully customizable and integrates seamlessly into your designs, allowing you to create custom ecommerce experiences.
    .skinny-text
      %p Gorgeous Merchant Dashboard
    .dashboard
      .side-dash
        %p Something cool about the dash
        %p Something else cool about the sexy-dash
      .sexy-dash
